@import "reset", "flexbox";

html {
  font: 400 #{$font-base}/1.5714 $f, sans-serif;
}

body {
  color: $c;
  @include flex-direction(column);
  @include flexbox();
  min-height: 100vh;
}

#main {
  overflow: hidden;
  @include flex(1, 0, auto);
  width: 100%;
}

.container {
  margin: 0 auto;
  width: $w;
  max-width: 94%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: $bg;
  text-decoration: none;
  @include transition();
  &:hover {
    text-decoration: underline;
  }
}

header {

}

@media screen and (min-width: 1024px) {
  #mainMenu {
    ul {
      font-size: 0;
      li {
        display: inline-block;
        vertical-align: top;
        a {
          font-size: 14px;
          display: block;
        }
        &:hover a, &.current-menu-item a {

        }
      }
    }
  }
}

.content {
  p {
    padding-bottom: 20px;
    line-height: 1.5;
  }
}

input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="password"], textarea {
  height: 30px;
  width: 100%;
  border: 1px solid #ccc;
  background: #eee;
  padding: 0 10px;
  font-family: $f;
  &:focus {

  }
}

textarea {
  resize: none;
  height: 100px;
  padding: 10px;
}

.button {
  display: inline-block;
  line-height: 35px;
  padding: 0 20px;
  background: $bg;
  color: #fff;
  font-family: $f;
  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

footer {

}

@media screen and (max-width: 1024px) {
  #menuOpen {
    display: block;
    &.opened {
      & + #mainMenu {
        @include transform(translateX(0));
      }
    }
  }
  #mainMenu {
    position: fixed;
    top: 50px;
    width: 100%;
    @include transform(translateX(100%));
    @include transition();
    background: rgba(26, 26, 26, 0.95);
    right: 0;
    bottom: 0;
    overflow: auto;
    ul {
      li {
        display: inline-block;
        width: 100%;
        a {
          display: block;
          margin: 0;
          color: #fff;
          font-size: 18px;
          padding: 15px 3%;
          border-bottom: 1px solid #000;
        }
        &:hover a {
          background: none;
        }
        &.current-menu-item > a {
          background: $bg;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {

}