@import 'components/mixins';

$w: 1140px;
$c: #333333;
$bg: #0C59AF;
$inputH: 40px;
$font-base: 14px;
$f: "open";
$icons: "icons";

@import 'components/flexbox';
@import 'components/reset';
@import 'components/code';
@import 'components/rwd';